<div class="header">

  <div class="title-logo">
    <%= link_to 'My House Role', houses_path, method: :get %>
  </div>

  <div class="log-out">
    <%= link_to 'ログアウト', destroy_user_session_path, method: :delete %>
  </div>

</div>